@media (max-width: 375px){
    .slidebar img{
        height: 50vh !important;
    }

    .slidebar .carousel-caption{
        bottom: 20px !important;
    }

    .slidebar .card{
        background-color: rgba(255, 255, 255, 0.3) !important;
    }

    .slidebar .card p{
        font-weight: normal !important;
    }
}