html{
    font-size: 90%;
}

/* CSS for .header-area */
.header-area ul > a{
    color: #343a40 !important;
}

.header-area .right-nav .dropdown.show a{
    color: #ef4836 !important;
}

.header-area .right-nav .show > a:hover{
    color: #ef4836 !important;
    transition: all .3s;
}

.header-area .right-nav li > a:hover{
    color: #ef4836 !important;
    transition: all .3s;    
}

.header-area .right-nav .show > a:active{
    color: #ef4836 !important;
    transition: all .3s;
}

.header-area .right-nav li > a:active{
    color: #ef4836 !important;
    transition: all .3s;    
}

.header-area .sub-menu.show{
    box-sizing: border-box !important;
}

.header-area .right-nav .sub-menu.show > a{
    display: block !important;
    color: #fff !important;
    background-color: #343a40 !important;
    transition: 0.3s;
}

.header-area .right-nav .sub-menu.show a:hover{
    color: #fff !important;
    text-indent: 3% !important;
}

/* CSS for .navigation */

.navigation ul > a{
    color: #343a40 !important;
}

.navigation .right-nav .dropdown.show a{
    color: #ef4836 !important;
}

.navigation .right-nav .show > a:hover{
    color: #ef4836 !important;
    transition: all .3s;
}

.navigation .right-nav li > a:hover{
    color: #ef4836 !important;
    transition: all .3s;    
}

.navigation .right-nav .show > a:active{
    color: #ef4836 !important;
    transition: all .3s;
}

.navigation .right-nav li > a:active{
    color: #ef4836 !important;
    transition: all .3s;    
}

.navigation .sub-menu.show{
    box-sizing: border-box !important;
}

.navigation .right-nav .sub-menu.show > a{
    display: block !important;
    color: #fff !important;
    background-color: #343a40 !important;
    transition: 0.3s;
}

.navigation .right-nav .sub-menu.show a:hover{
    color: #ef4836 !important;
    text-indent: 3% !important;
}

.navigation .right-nav li > button{
    transition: all .3s;
    box-shadow: none !important;
}

.navigation .right-nav li > button:hover{
    color: #ef4836 !important;
}

.navigation .right-nav li > button .badge{
    background-color: #ef4836 !important;
    transition: all .3s;
}

.navigation .right-nav li > button:hover .badge{
    background-color: #343a40 !important;
    color: #fff !important;
    transition: all .3s;
}

.navigation .right-nav li.show button{
    color: #ef4836 !important;
}

.navigation .right-nav li.show button .badge{
    background-color: #343a40 !important;
    color: #fff !important;
}
